<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
<div>
    <table border="1px">
        <thead>
            <tr>
                <td>选择</td>
                <td>编号</td>
                <td>商品名称</td>
                <td>商品数量</td>
                <td>商品价格</td>
                <td>商品类型</td>
                <td>商品产地</td>
                <td>编辑商品</td>
            </tr>
        </thead>
        <tbody id="tb" class="tb">

        </tbody>
    </table>
</div>
<div>
    <ul>
        <li><span>商品名字:</span><input type="text" id="goods_name"></li>
        <li><span>商品数量:</span><input type="text" id="goods_count"></li>
        <li><span>商品价格:</span><input type="text" id="goods_price"></li>
        <li><span>商品类型:</span><input type="text" id="goods_type"></li>
        <li><span>商品产地:</span><input type="text" id="goods_birth"></li>
    </ul>
    <button id="btn">增加商品</button>
    <button id="btn_dels">批量删除</button>
    <input type="text" value="hahaha"/>
</div>
</body>
<script>
    $(document).ready(function () {
        var host = "http://dtzhangqing.com/shop/shop_goods/"
        //查询操作
        $.ajax({
            url:host,
            type:'get',
            async:true,
            data:{

            },
            success:function (res) {
                console.log(res);
                for (var i = 0 ; i < res.data.length ; i ++){
                    var htmlString = '<tr><td><input type="checkbox" class="mycheck">'+
                                     '</td><td>' + (i+1)+
                                     '</td><td>'+res.data[i].goods_name+
                                     '</td><td>'+res.data[i].goods_count+
                                     '</td><td>' +res.data[i].goods_price+
                                     '</td><td>'+res.data[i].goods_type+
                                     '</td><td>'+res.data[i].goods_birth+
                                     '</td><td><button class="btn-up">修改</button><button class="btn-del">删除</button></td></tr>';
                    $('.tb').append(htmlString);
                }
                btnDel();
                check_box();
                do_tds();
                submit_trs();
            }
        });
        //添加操作
        $("#btn").click(function () {
            var goods_name = $("#goods_name").val();
            var goods_count = $("#goods_count").val();
            var goods_price = $("#goods_price").val();
            var goods_type = $("#goods_type").val();
            var goods_birth = $("#goods_birth").val();
            $.ajax({
                url:host,
                type:'post',
                async:true,//是否异步
                data:{
                    'goods_name':goods_name,
                    'goods_count':goods_count,
                    'goods_price':goods_price,
                    'goods_type':goods_type,
                    'goods_birth':goods_birth,
                },
                success:function (res) {
                    console.log(res);
                    window.location.reload();
                }
            });
        });
        //删除操作
        function btnDel(){
            $(".btn-del").click(function () {
                ///var result =$(this).parent().parent().parent().find("td:eq(1)").text();/
                var goods_name =$(this).parent().parent().find("td:eq(2)").text();
                console.log("哈哈哈" + goods_name);
                $.ajax({
                    url:host,
                    type:'delete',
                    async:true,//是否异步
                    data:{
                        'goods_name': goods_name,
                    },
                    success:function (res) {
                        console.log(res);
                        //重新加载，全局刷新
                        window.location.reload();
                    }
                });
            });
        }
        //选住多个一起删除
        function check_box(){
            $("#btn_dels").click(function () {
                var result = $(".mycheck:checked").parent().parent().find("td:eq(2)");
                var arr1 = new Array();
                $.each(result,function (i,item) {
                    arr1.push($(item).text());//把HTML页面转化为Jquery对象
                })
                console.log(arr1.length);
                $.ajax({
                    url:host,
                    type:'delete',
                    async:true,//是否异步
                    data:{
                        'goods_name': JSON.stringify(arr1),
                        'isSingle':arr1.length.toString(),
                    },
                    success:function (res) {
                        console.log(res);
                        //重新加载
                        window.location.reload();
                    }
                });
            })
        }
        // //修改操作
        function do_tds() {
            //1.操作tr将除了017都改成input
            //2.修改完毕有个提交按钮
            //3.ajax
            $("tbody tr").mouseover(function () {
               var objVal = $(this); //指针
               var gn1=$(objVal).find("td:eq(2)").text();
               var gn2=$(objVal).find("td:eq(3)").text();
               var gn3=$(objVal).find("td:eq(4)").text();
               var gn4=$(objVal).find("td:eq(5)").text();
               var gn5=$(objVal).find("td:eq(6)").text();
               //console.log(gn1,gn2,gn3,gn4,gn5);
               $(objVal).css("background","grey");
               $(".btn-up").click(function () {
                   $(this).parent().siblings("td:gt(1):lt(7)").html($('<input type="text" class="myinput2">'));
                   $(this).parent().parent().find('td:eq(2) input').val(gn1);
                   $(this).parent().parent().find('td:eq(3) input').val(gn2);
                   $(this).parent().parent().find('td:eq(4) input').val(gn3);
                   $(this).parent().parent().find('td:eq(5) input').val(gn4);
                   $(this).parent().parent().find('td:eq(6) input').val(gn5);
                   $(".myinput2").css("width","45px");
                   $(this).text('提交');
                   $(this).css("background","yellow");
               });

           });
           $("tbody tr").mouseleave(function () {
               var objVal = $(this); //指针
               $(objVal).css("background","white");
           });
        }
        function submit_trs() {
           $(".btn-up").click(function () {
               if ($(this).text() == "提交") {
                   var newgn1 = $(this).parent().parent().find('td:eq(2) input').val();
                   var newgn2 = $(this).parent().parent().find('td:eq(3) input').val();
                   var newgn3 = $(this).parent().parent().find('td:eq(4) input').val();
                   var newgn4 = $(this).parent().parent().find('td:eq(5) input').val();
                   var newgn5 = $(this).parent().parent().find('td:eq(6) input').val();
                   $.ajax({
                       url: host,  //请求地址
                       type: 'put',
                       async: true,
                       data: {
                           'goods_name': newgn1,
                           'goods_count': newgn2,
                           'goods_price': newgn3,
                           'goods_type': newgn4,
                           'goods_birth': newgn5,
                       },
                       success: function (res) {
                           console.log(res);
                           window.location.reload();
                       }
                   });
               }
           });
       }
    });
</script>
</html>